* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.first-container {
    width: 325px;
    height: 240px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px 35% 10px 10px;
    background-color: hsl(228, 56%, 26%);
}
.first-container .logo {
    margin: 60px 0px 20px 40px;
}
.first-container .icons {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40%;
    margin-left: 20px;
}
.first-container .icons div {
    width: 54px;
    height: 54px;
    background-color: hsl(229, 57%, 11%);
    border: none;
    outline: none;
    border-radius: 15px;
    margin-left: 20px;
}
.first-container .icons div img {
    margin: calc(54px/2 - 24px/2);
    width: 24px;
    height: 24px;
}

/* SECOND-CONTAINER--------> */
.second-container {
    width: 325px;
    height: 150px;
    background-color: white;
    margin: 25px auto;
    border-radius: 10px 10px 10px 10px;
    background-color: hsl(228, 56%, 26%);
    position: absolute;
    top: 47.5%;
    margin-left: calc(100vw/2 - 325px/2);
}
.second-container .text {
    margin-left: 35px;
    margin-top: 25px;
    color: hsl(243, 100%, 93%);
    font-weight: 400;
}
.second-container .text span {
    font-weight: 700;
}

.second-container .cuantity {
    width: 190px;
    height: 75px;
    background-color: white;
    position: absolute;
    left: calc(50% - 190px/2);
    top: 130px;
    border-radius: 10px;
    text-align: center;
}
.second-container .cuantity .cuantity_in-use {
    color: hsl(229, 57%, 11%);
    font-size: 48px;
    font-weight: 700;
}
.second-container .cuantity .cuantity_text {
    color: hsl(229, 7%, 55%);
}
.second-container .bar {
    display: flex;
    width: 80%;
    height: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 30px;
    padding: 5px;
}
.second-container .bar .gradient {
    width: 81.5%;
    height: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,233,234,1) 0%, rgba(255,102,225,1) 100%);
    border-radius: 30px;
}
.second-container .bar .controller {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hsl(243, 100%, 93%);
}
.second-container .limits {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: hsl(243, 100%, 93%);
    font-weight: 700;
}




/* ATTRIBUTION-----------> */
.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    bottom: 10px;
}
.attribution a {
    color: white;
    text-decoration: none;
}
